<section class="info-seccion">
  <h2>QUÉ DEBES SABER</h2>
  <div class="contenedor-info">
    <div class="info-box">
      <h3 class="titulo-var">REGLAS DE LA CASA</h3>
      <p class="texto-var">
        LLEGADA A PARTIR DE LAS 3:00 P.M.
      </p>
      <p class="texto-var">
        SALIDA ANTES DE LAS 1:00 P.M.
      </p>
      <p class="texto-var">
        NO SE ADMITEN MASCOTAS.
      </p>
            <a href="#">SABER MÁS ></a>
    </div>

    <div class="info-box">
      <h3 class="titulo-var">SEGURIDAD Y PROPIEDAD</h3>
      <p class="texto-var">
        NO HAY ALARMA DE HUMO.
      </p>
      <p class="texto-var">
        ALBERCA/JACUZZI SIN REJA NI PUERTA CON LLAVE.<br />
      </p>
      <p class="texto-var">
        NO SE REQUIERE DETECTOR DE MONÓXIDO DE CARBONO.
      </p>
      <a href="#">SABER MÁS ></a>
    </div>

    <div class="info-box">
      <h3 class="titulo-var">POLÍTICA DE CANCELACIÓN</h3>
      <p class="texto-var">
        SI CANCELAS ANTES DE LA FECHA DE LLEGADA (5 ENE.), RECIBIRÁS UN
        REEMBOLSO PARCIAL.
      </p>
      <p class="texto-var">
        PASADO ESE PLAZO, TU REEMBOLSO DEPENDERÁ DE CUÁNDO CANCELES.
      </p>
      <a href="#">SABER MÁS ></a>
    </div>
  </div>
</section>
