.info-seccion {
  background-color: #f5f5f5; /* Color de fondo */
  text-align: center;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo el contenido horizontalmente */
  width: 100%;
}

.info-seccion h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 0px;
}

.titulo-var {
  padding: 0px;
  margin-top: 30px;
  font-size: 17px;
  width: 400px;
}

.texto-var {
  padding: 0px;
  margin-top: 20px;
  font-size: 13px;
  text-align: justify;
}

.contenedor-info {
  display: flex;
  justify-content: center; /* Centra las cajas horizontalmente */
  align-items: flex-start; /* Alinea las cajas en la parte superior */
  gap: 30px;
  width: 100%;
  max-width: 1200px; /* Define un ancho máximo */
}

.info-box {
  flex: 1;
  max-width: 300px; /* Ajusta el ancho de cada caja */
  text-align: left; /* Mantiene el texto alineado a la izquierda */
  padding: 10px;
}

.info-box a {
  color: black; /* Cambia el color a negro */
  font-weight: bold; /* Aplica negrita */
  text-decoration: none; /* Elimina el subrayado */
  display: inline-block; /* Permite aplicar margen */
  margin-top: 30px; /* Espacio entre el párrafo y el enlace */
  font-size: 13px;
}
