<nav class="navbar">
  <div class="header">
    <!-- logo a la izquierda -->
    <div class="icon-izq">
      <i class="fa-solid fa-house-chimney"></i>
      <a class="text-izq" href="#">Alójate</a>
    </div>
    <!-- logo a la derecha -->
    <div class="icon-lupa">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="icon-barras">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>

  <hr />

  <div class="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Booking</a></li>
      <li><a href="#">House</a></li>
      <li><a href="#">Pages</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>
