<section class="estancias">
  <h2 class="titulo-est">ESTANCIAS</h2>
  <div class="contenedor-estancias">
    <div class="tarjeta">
      <img [src]="img1" alt="Adosado Colorido" />
      <h3>ADOSADO COLORIDO</h3>
      <p>DESCANSAR Y RETIRARSE EN UNA CASA CON LA MEJOR COMUNIDAD</p>
    </div>

    <div class="tarjeta">
      <img [src]="img2" alt="Plaza Bonanza" />
      <h3>PLAZA BONANZA</h3>
      <p>MIRA EL OCÉANO, ESCUCHA LAS OLAS Y DISFRUTA DEL MAR</p>
    </div>

    <div class="tarjeta">
    <img [src]="img3" alt="Santuario Antiguo" />
      <h3>SANTUARIO ANTIGUO</h3>
      <p>ENCUENTRA LA CASA DE TUS SUEÑOS CERCA DEL COLEGIO Y DE TU OFICINA</p>
    </div>
  </div>
</section>
